{% extends "layout.html" %}

{% block content %}
	<div id="content">
		{% if session["username"] == None %}
			<div style="text-align: center;">
				<h1>Please log in to submit a post.</h1>
			</div>
		{% else %}
			<div id="new-message">
				<form id="new-message-form" action="/post/message" method="post">
					<h2>Post a message</h2>

					<div class="textarea-container">
						<textarea form="new-message-form" name="message"></textarea>
					</div>

					<span>&nbsp;</span>
					<input id="new-message-submit" type="submit">
				</form>
			</div>
		{% endif %}

		<div class="fake-hr"></div>

		{% for message in message_list %}
			<div class="message-container">
				<div class="message-title">
					{{ message["username"] }}

					<span class="message-timestamp">
						at {{ message["time"]}} 
						&nbsp;(id: {{ message["message_id"] }})
					</span>
				</div>

				<div class="message-box" data-message-id="{{ message['message_id'] }}">
					{{ message["message_text"] }}
				</div>

				<div class="reply-form" id="reply-container-{{ message['message_id'] }}">
					<form id="reply-to-{{ message['message_id'] }}">
						<div class="textarea-container">
							<textarea form="reply-to-{{ message['message_id'] }}" name="comment">NOT FUNCTIONAL YET SORRY</textarea>
						</div>

						<input type="submit">
					</form>
				</div>
			</div>
		{% else %}
			<h1>No messages yet!</h1>
		{% endfor %}
	</div>
{% endblock %}