<!DOCTYPE html>

<html>
	<head>
		<title>The Wall</title>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	</head>

	<body>
		{% block navbar %}
			<div id="navbar">
				<span>CodingDojo Wall</span>

				{% if session["username"] == None %}
					<span>
						Not logged in

						<a id="log-in" href="/login">Log in</a>
						or
						<a href="/register">Register</a>
					</span>
				{% else %}
					<span>
						Welcome, {{ session["username"] }}.

						<a id="log-in" href="/logout">Log out</a>
					</span>
				{% endif %}
			</div>
		{% endblock %}

		{% block content %}

		{% endblock %}
	</body>
</html>